<template>
        <v-layout row wrap>
            <v-flex xs12 class="pb-5">
                <h1 class="pb-1">Создать новую задачу</h1>
            </v-flex>
            <v-flex sm12 md8>
                <v-card flat class="mb-3">
                    <v-card-text>
                        <v-checkbox
                                label="Генерировать автоматически"
                                v-model="generate"
                        ></v-checkbox>
                    </v-card-text>
                </v-card>

                <v-tabs
                        centered
                        color="cyan"
                        dark
                        icons-and-text
                >
                    <v-tabs-slider color="yellow"></v-tabs-slider>

                    <v-tab href="#tab-email">
                        E-mail
                        <v-icon>mail</v-icon>
                    </v-tab>

                    <v-tab href="#tab-crm">
                        CRM Заявка
                        <v-icon>business</v-icon>
                    </v-tab>

                    <v-tab-item id="tab-email">
                        <v-card flat>
                            <v-card-text>
                                <v-form v-model="valid">
                                    <v-text-field
                                            v-model="emailForm.from"
                                            :counter="250"
                                            label="Отправитель"
                                            required
                                    ></v-text-field>
                                    <v-text-field
                                            v-model="emailForm.to"
                                            :counter="250"
                                            label="Получатель"
                                            required
                                    ></v-text-field>
                                    <v-text-field
                                            v-model="emailForm.subject"
                                            :counter="25"
                                            label="Тема"
                                            required
                                    ></v-text-field>
                                    <v-textarea
                                            v-model="emailForm.message"
                                            label="Сообщение"
                                            :counter="1000"
                                            required
                                    ></v-textarea>
                                    <v-btn class="ma-0" @click="createEmail" :loading="loading" color="info">Создать</v-btn>
                                </v-form>

                            </v-card-text>
                        </v-card>
                    </v-tab-item>

                    <v-tab-item id="tab-crm">
                        <v-card flat>
                            <v-card-text>
                                <v-form v-model="valid">
                                    <v-text-field
                                            v-model="crmForm.title"
                                            :counter="25"
                                            label="Заголовок"
                                            required
                                    ></v-text-field>
                                    <v-textarea
                                            v-model="crmForm.message"
                                            :counter="1000"
                                            label="Сообщение"
                                            required
                                    ></v-textarea>
                                    <v-btn class="ma-0" @click="createCrmMessage" :loading="loading" color="info">Создать</v-btn>
                                </v-form>

                            </v-card-text>
                        </v-card>
                    </v-tab-item>
                </v-tabs>


            </v-flex>

        </v-layout>

</template>

<script>
    import {HTTP} from '../http-common'
    import querystring from 'querystring'

    import { EventBus } from '../event-bus.js';

    export default {
        data: () => ({
            valid: false,
            generate: false,
            loading: false,
            interval: null,
            crmForm: {
                title: '',
                message: ''
            },
            emailForm: {
                to: '',
                from: '',
                subject: '',
                message: ''
            }
        }),
        beforeMount: async function () {

        },
        mounted: function () {
            this.interval = setInterval(function () {
                if(this.generate) {
                    this.generateTask()
                }
            }.bind(this), 5000);
        },
        beforeDestroy: function () {
            clearInterval(this.interval);
        },
        computed: {

        },
        methods: {
            async generateTask () {
                let response = await HTTP.post('api/generate')
                if(response) {
                    EventBus.$emit('message', 'Новая задача сгенерирована');
                }
            },
            async createEmail() {
                let response = await HTTP.post('api/email/create', querystring.stringify(
                    this.emailForm
                ))
                if(response) {

                }
            },
            async createCrmMessage() {
                let response = await HTTP.post('api/crm_message/create', querystring.stringify(
                    this.crmForm
                ))
                if(response) {

                }
            }
        },
    }
</script>

<style scoped>

</style>